// Colors
$bg-color-html:       #fff;
$color-selection:     #fff;
$bg-color-selection:  #07b;
$color-body:          #333;
$color-header:        #222;
$color-a:             #07b;
$color-a-hover:       #8cc1e0;
$color-time-talks:    #c0c0c0;

// Fonts
$font-family-body: "PT Serif", serif;
