@import "_reset";
@import "_fonts";
@import "_grid";
@import "_variables";

::selection {
  background-color: $bg-color-selection;
  color: $color-selection;
}

html {
  background-color: $bg-color-html;
  min-height: 100%
}

body {
  *zoom: 1;
  max-width: 640px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 1.5rem;
  line-height: 1.5rem;
  font-family: $font-family-body;
  color: $color-body;
}
body:before, body:after {
  content:" ";
  display:table
}
body:after {
  clear:both
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: $color-header;
  font-weight: 700;
  margin: .67em 0;
}
h1 {
  font-size: 2em;
  font-weight: 400;
  margin-top: 1.5em;
}

a {
  color: $color-a;
  text-decoration: none;
  -webkit-transition:color .1s linear
}
a:hover {
  color: $color-a-hover;
}

p {
  margin-bottom: 1.5em;
}

time {
    color: $color-time-talks;
    margin-left: 1em;
}
/*
body p:first-child {
  font-size: 1.25em;
}
*/
body > header {
  border-bottom: 1px solid #eee;
  padding: 1.5em 0;
  margin-bottom: 3em;
  overflow: auto;

  h1 {
    font-weight: 400;
    font-size: 1em;
    float: left;
    margin: 0;
  }

  nav {
    float: right;

    a {
      margin-left: 1em;
    }
  }
}

body > footer {
  border-top: 1px solid #eee;
  margin: 3em 0;
  padding: 1.5em 0;

  nav {
    overflow: auto;
  }

  a {
    clear: left;
    float: left;
  }
}

footer {
  overflow: auto;

  .contact {
    float: left;
    width: 50%;
  }

  .recent-posts {
    float: right;
    width: 50%;
  }
}
