@import "_reset";
@import "_fonts";
@import "_grid";
@import "_variables";

::selection {
  background-color: $bg-color-selection;
  color: $color-selection;
}

html {
  background-color: $bg-color-html;
  min-height: 100%
}

body {
  *zoom: 1;
  max-width: 640px;
  margin-left: auto;
  margin-right: auto;
  line-height: 1.5rem;
  font-family: $font-family-body;
  color: $color-body;
}
body:before, body:after {
  content:" ";
  display:table
}
body:after {
  clear:both
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: $color-header;
}

a {
  display: inline-block;
  color: $color-a;
  text-decoration: none;
  -webkit-transition:color .1s linear
}
a:hover {
  color: $color-a-hover;
}

body > header {
  border-bottom: 1px solid #eee;
  padding: 1.5em 0;
  margin-bottom: 3em;
}
