---
layout: page
title: Danilo Braband - Developer
---

{% for w in site.categories.writings %}

  <h2><a href="{{ w.url }}">{{ w.title }}</a></h2>

  {{ w.content }}

{% endfor %}

{% if site.categories.talks %}
  <h2>Talks</h2>
  <dl class=talks>
  {% for talk in site.categories.talks %}
    <dt><a href="{{ talk.url }}">{{ talk.title }}</a></dt>
  {% endfor %}
  </ul>
{% endif %}


{% if site.categories.projects %}
  <h2>Projects</h2>
  <dl class=projects>
  {% for project in site.categories.projects %}
    <dt><a href="{{ project.project-url }}">{{ project.title }}</a></dt>
    <dd>{{ project.content }}</dd>
  {% endfor %}
  </dl>
{% endif %}
