#!/usr/bin/env ruby

ignore '/**/_*'

compile '/index.md' do
  filter :erb
  filter :kramdown
  layout '/default.*'
  write '/index.html'
end

compile '/posts/*.md' do
  filter :kramdown
  layout '/post.*'
  write item
    .identifier
    .without_ext
    .gsub(%r<posts/[0-9]{4}\-[0-9]{2}\-[0-9]{2}\->, '') + '.html'
end

compile '/css/*.scss' do
  filter :sass, syntax: :scss, style: :compact
  write [item.identifier.without_ext, '-', fingerprint('/css/site.*'), '.css'].join
end

compile '/**/*' do
  write item.identifier.to_s
end

layout '/**/*', :erb
