---
title: Writings and Projects of Danilo Braband
---

<section class="row">
<section class="twothird centered">

    <p>These are the writings and projects of Danilo Braband. You can contact me at <a class="email">dbraband [at] gmail . com</a>.</p>

    <% if projects.length > 0 %>

        <h2>Projects</h2>
        <ul>
        <% sorted_projects.each do |p| %>
            <li>
                <a href="<%= p.path %>" title="<%= p[:description] %>"><%= p[:title] %></a>
                <p><%= p[:description] %></p>
            </li>
        <% end %>
    <% end %>

</section>
</section>
