<!DOCTYPE HTML>
<html>
<head>
    <meta charset=utf-8>
    <title><%= @item[:title] %> - dab.io</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>

    <header>
        <h1><a href="/" title="dab.io">dab.io</a></h1>
    </header>

    <section id="content">
<%= yield %>
    </section>

    <footer>© <%= Date.today.year %> Danilo Braband</footer>

    <script>var _gauges=_gauges||[];(function(){var e=document.createElement("script");e.async=!0,e.id="gauges-tracker",e.setAttribute("data-site-id","507bc980613f5d27a6000002"),e.src="//secure.gaug.es/track.js";var t=document.getElementsByTagName("script")[0];t.parentNode.insertBefore(e,t);for(var e,n,a=document.getElementsByClassName("email"),r=0,i=a.length;i>r;r++){if(e=a[r],!e.innerHTML)break;n=e.innerHTML.replace(" . ",".").replace(" [at] ","@"),e.href="mailto:"+n,e.innerHTML=n}})()</script>
</body>
</html>
