<!DOCTYPE html>
<html lang="en">
<head>
  <title>{% if page.title %}{{ page.title }} - {% endif %}{{ site.title }}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
  <header>
    <h1><a href="/" title="Link to Home">dab<span class="tld">.io</span></a></h1>

    <nav>
    <a href="{{ site.github }}">{% include icon-github.svg %}<span>GitHub</span></a>
    <a href="{{ site.twitter }}">{% include icon-twitter.svg %}<span>Twitter</span></a>
    </nav>
  </header>

  <article>
    {{ content }}
  </article>

  <footer>
  </footer>

</body>
</html>
<link rel="stylesheet" href="/css/site.css?{{ site.data['hash'] }}">
{% include google_analytics_async.html tracking_id=site.google_analytics %}
